@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Readex+Pro:wght@300&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import './tier-form-itself.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500; 
}

h2 {
    font-family: 'Poppins', sans-serif;
    color:  white;
}

p {
    font-family: 'Poppins', sans-serif;
    color:  white;
}

span {
    font-family: 'Poppins', sans-serif;
    color:  white;
}

label {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:  white;
}

#filled-basic {
    color: white;
}

textarea {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px; 
    border-radius: 8px;
    color: 'white';
    background: '#9DA8B7';
    border: 1px solid '#6B7A90';
    box-shadow: 0px 2px 2px '#303740';
    background: #000;
    color: white;
}

textarea:hover {
    border-color: #B451D7;
    border: 1px solid;
}

textarea:focus {
    border-color: #B451D7;
      box-shadow: 0 0 0 3px #B451D7;
      border: 1px solid;
}
 
textarea:focus-visible {
    outline: 0;
}

.muiRenderFixedEl {
    color: white !important;
}

.mobile-buttons {
    display: flex;
}

.mobile-buttons- {
    display: flex;
}

.desktop-container {
    display: none;
}

.SelectorThumbnail {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.css-1k86apy-MuiImageList-root {
    overflow-y: unset !important;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
}

.css-ta95xa-MuiImageListItem-root .MuiImageListItem-img {
    object-fit: cover;
    width: 100%;
    height: 215px !important;
    display: block;
    /* -webkit-box-flex: 1; */
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 2;
}

.swiper-button-prev:after, .swiper-button-next:after {
    color: #B451D7;
}

.swiper-pagination-bullet-active {
    background: #B451D7 !important;
}

.Slide_of_list {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.Slide_of_list h1 {  
    text-align: end; 
}

.Slide_of_list span {
    //position: absolute;
    color: white; 
    text-align: end;
    margin: 10px;
}

.container-text-slider {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 250px;
    width: 700px;
    flex-direction: column;
    margin: 0px 4em;
    z-index: 3;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-website {
    position: relative;
    display: flex; 
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    //background: url(../images/tier-list-page-bgc.png) 50%;
    animation: infinite 125s slider_;
    background: #000000cc;
}

.navigation-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 2;
    background: #000000e3;
    border-bottom: .5px solid white;
}

.container-flex {
    display: flex;
}

.container-spaced {
    margin: 5px;
} 

.huge-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-x: scroll;
}

.container-smallest {
    display: none;
}

.desktop-container-- {
    display: none;
}

.mobile-buttons-- {
    display: block;
}

.MobileIcon {
    display: flex;
    position: fixed;
    justify-content: center;
    right: 15px;
    top: 15px;
    font-size: 25px;
    align-items: center;
    height: 50px;
    width: 50px;
    z-index: 4;
    border-radius: 50%;
    background: red;
    color: #fff;
    cursor: pointer;
}

.SettedSettingTier {
    width: 200vw;
    height: 100px;
}

@media (min-width: 599px) {

    .huge-container {
        flex-direction: row;
    }

    .mobile-buttons {
        display: none;
    }

    .mobile-buttons- {
        display: none;
    }

    .mobile-buttons-- {
        display: none !important;
    }

    .desktop-container {
        display: flex;
    }

    .desktop-container-- {
        display: block;
    }

    .range-for-a-roll-up {
        display: none !important;
    }

    .MobileIcon {
        top: unset !important;
        bottom: 15px;
    }

    .SettedSettingTier {
        width: 100vw;
        height: 100px;
    }

}

@media (max-width: 374px) {

    .container-smallest {
        display: flex;
    }

    .mobile-buttons {
        display: none;
    }

}

.logo-app {
    height: 100px;
}

input.range-for-a-roll-up[type="range"] {
    background: transparent;
}

.roll-up {
    bottom: 0px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7.5px 15px;
    border: unset;
    z-index: 2;
    width: 100%;
    height: 500px;
}

.range-for-a-roll-up {
    -webkit-appearance: none;
    display: flex;
    rotate: 270deg;
    width: 500px;
    position: absolute;
    bottom: 245px;
}

.arrow {
    pointer-events: none;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin-top: -20.5px;
  }

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.unsettedVisibility {
    z-index: 2;
}

.settedVisibility {
    z-index: 0;
}

.range-for-a-roll-up::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 75px;
    background: white;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 35%;
    cursor: pointer;
    z-index: -3;
}

@keyframes slider_ {
 0% {
    background-position-x: -9999%;
 }

 100% {
    background-position-x: 0%;
 }
}

.blur {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #00000085;
    z-index: 1;
}

.header-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    z-index: 2;
}

.random-desc-itself {
    text-align: center;
    font: 700 18px 'Sedgwick Ave', cursive;
    color: #a8cc08;
    z-index: 2;
}

.loading-block {
    position: relative;
    align-self: center;
    height: 60px;
}

.loading-block span {
    margin: 70px;
}

.finder-component {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}

.finder-component label {
    align-self: center;
    color: #8edb35;
    font: 700 26px 'Sedgwick Ave'
}

.finder-itself {
    position: relative;
    display: block;
    margin: 35px 15px;
    height: 60px;
}

.finder-button {
    position: relative;
    align-self: center;
    margin: -3.5px 10px 0 5px;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    border: none;
    font: 700 26px 'Sedgwick Ave', cursive;
}